#tabel_bilete ul {
    border: 1px solid #d2a580;
    margin: 1vi;
    padding: 2vi;
    width: 35vi; 
    display: inline-block;
    list-style: none;
    background-color: #f8f0e1;
    font-family: 'Courier New', Courier, monospace;
  }
  
  #tabel_bilete li {
    padding: 0.6vi;
    text-align: left;
  }
  
  #tabel_bilete li:nth-child(even) {
    background-color: #f4ebd2;
    color:#865832;
  }
  
  #tabel_bilete li:nth-child(odd) {
    background-color: #f8f0e1;
    color:#bf8e66;
  }
  
  #tabel_bilete li:first-child {
    background-color:  rgb(204, 163, 92);
    color: white;
    font-weight: bold;
  }
  
#date_client{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#tabel_trasee ul {
  border: 1px solid #9980d2;
  margin: 1vi;
  padding: 2vi;
  width: 35vi; 
  display: inline-block;
  list-style: none;
  background-color: #e7e1f8;
  font-family: 'Courier New', Courier, monospace;
}

#tabel_trasee li {
  padding: 0.6vi;
  text-align: left;
}

#tabel_trasee li:nth-child(even) {
  background-color: #ddd2f4;
  color:#363286;
}

#tabel_trasee li:nth-child(odd) {
  background-color: #e7e1f8;
  color:#7b66bf;
}

#tabel_trasee li:first-child {
  background-color:  rgb(96, 92, 204);
  color: white;
  font-weight: bold;
}

/*********************/
#tabel_users ul {
  border: 1px solid #80d2b4;
  margin: 1vi;
  padding: 2vi;
  width: 35vi; 
  display: inline-block;
  list-style: none;
  background-color: #e1f8f4;
  font-family: 'Courier New', Courier, monospace;
}

#tabel_users li {
  padding: 0.6vi;
  text-align: left;
}

#tabel_users li:nth-child(even) {
  background-color: #d2f4ec;
  color:#328675;
}

#tabel_users li:nth-child(odd) {
  background-color: #e1f8f0;
  color:#66bf97;
}

#tabel_users li:first-child {
  background-color:  rgb(92, 204, 163);
  color: white;
  font-weight: bold;
}
