body {
  background-color: #ddd2f4; 
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.frame {
  width: 70%;
  padding: 20px;
  background-color: #363286; 
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.frame img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.left-frame {
  order: 1; 
}

.right-frame {
  order: 2; 
}
.middle-frame{
  order:3;
}